<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag("delianpetrov.png", alt: "Delian Petrov", class: "profile-pic img-responsive") %>
        <div class="intro-text">
          <span class="name">Delian Petrov</span>
          <hr class="star-light">
          <span class="skills">
            Senior Ruby on Rails Full Stack Software Engineer.
            <%# <div>Currently employed at <a href="https://happyfuncorp.com/" target="_blank">HappyFunCorp</a>.</div> %>
            <%# <span class="page-scroll"><a href="#contact" style="font-weight: 500">Let's Talk!</a></span> %>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary with-explainer">
        <p class="explainer">Click on the images for more information</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#seastatus">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag("seastatus_thumb.png", class: "img-responsive", alt: "SeaStatus") %>
        </a>
      </div>
      <div class="col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#visage">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag("visage_thumb.png", class: "img-responsive", alt: "Visage.co") %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#applab">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-2x"></i>
            </div>
          </div>
          <%= image_tag("applab_thumb_front1.png", class: "img-responsive", alt: "ApplicantLab Front Page") %>
        </a>
      </div>
      <div class="col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#partner_up">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag "partner_up_thumb.png", class: "img-responsive", alt: "PartnerUP Project" %>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <%= image_tag "cryoport_logo.jpeg", class: "img-responsive img-circle bg-white", alt: "HappyFunCorp" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>February 2021 - December 2021</h4>
                <h4 class="subheading">Senior Software Engineer at <a href="https://cryoport.com" target="_blank">Cryoport</a></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Full-stack Engineer & Scrum master on the <a href="https://cryoportal.com" target="_blank">Cryoportal Team</a></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag "happyfuncorp_logo.png", class: "img-responsive img-circle", alt: "HappyFunCorp" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>August 2020 - January 2021</h4>
                <h4 class="subheading">Senior Software Engineer at <a href="https://happyfuncorp.com/" target="_blank">HappyFunCorp</a></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Full-Stack Engineer on the <a href="https://bookshop.org" target="_blank">BookShop Team</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <%= image_tag "legalshield_logo.png", class: "img-responsive img-circle", alt: "LegalShield" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>March 2019 - August 2020</h4>
                <h4 class="subheading">Senior Software Engineer at <a href="https://legalshield.com" target="_blank">LegalShield</a></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Full-Stack Engineer on the <a href="https://partner.legalshield.com" target="_blank">Partner team</a> - the software that network law firms use to manage cases.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag "seastatus_logo.jpg", class: "img-responsive img-circle", alt: "SeaStatus" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Jun 2016 - Dec 2018</h4>
                <h4 class="subheading">Co-Founded <a href="https://seastatus.com" target="_blank">SeaStatus Marine Weather</a></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">iPhone and Android application. Winner of XPrize $25k Challenge.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <%= image_tag "visage_logo.png", class: "img-responsive img-circle", alt: "UCI Alumni" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Feb. 2016 - Dec. 2017</h4>
                <h4 class="subheading">Full Stack Engineer at <a href="http://visage.co" target="_blank">Visage</a></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Backend Engineer
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag "applab_logo.jpg", class: "img-responsive img-circle", alt: "Google Student Ambassador" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Mar. 2015 - Dec. 2015</h4>
                <h4 class="subheading">Ruby on Rails Engineer for <a href="http://applicantlab.com" target="_blank">ApplicantLab</a></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Started part time contracting work for ApplicantLab &amp; Visage</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <%= image_tag "uci_logo.jpg", class: "img-responsive img-circle", alt: "UCI Alumni" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>June 2015</h4>
                <h4 class="subheading">Graduated UCIrvine</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Graduated with a Bachelors of Science in Informatics &amp; a minor in Management.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag "gsa_logo.png", class: "img-responsive img-circle", alt: "Google Student Ambassador" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>June 2014 - June 2015</h4>
                <h4 class="subheading">Google Student Ambassador</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Official Liaison to Google and the UCI campus.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <%= image_tag "icssc_robot.png", class: "img-responsive img-circle", alt: "ICS Student Council" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>June 2014</h4>
                <h4 class="subheading">President of ICS Student Council</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Official Student Government of the Donald Bren School of Information and Computer Science, UCIrvine
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag "anttech_logo.png", class: "img-responsive img-circle", alt: "anttech repair center" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>March 2013</h4>
                <h4 class="subheading">Lead Macintosh Technician</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Apple Certified Macintosh Technician of Mac, Windows, and Linux based PCs at campus bookstore.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image" style="background-color: rgb(230, 230, 230)">
              <%= image_tag "mdi_logo.png", class: "img-responsive img-circle", alt: "MDI Carbonfiber" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>September 2012</h4>
                <h4 class="subheading">Technology Consultant for <a href="http://mdicarbonfiber.com" target="_blank">MDI Performance</a></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Integrated e-commerce platform for online retail business
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<%= render "visitors/partials/contact" %>

<!-- Portfolio Modals -->
<%= render "visitors/portfolios/seastatus" %>
<%= render "visitors/portfolios/applab" %>
<%= render "visitors/portfolios/visage" %>
<%= render "visitors/portfolios/partner_up" %>
